@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  --main-color: #1B1B1B;
  --strawberry-red: #ff0000;
  --accent-color: #27B053;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Archivo", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
